trunk-recorder-node-red-dashboard.json
[
    {
        "id": "10a60d33cf23c091",
        "type": "tab",
        "label": "Sonic - Trunk-Recorder Call Stats",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc32975a6d51224b",
        "type": "mqtt in",
        "z": "10a60d33cf23c091",
        "name": "Get Data from MQTT",
        "topic": "sonic/feeds/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "61de5090.0f5d9",
        "nl": false,
        "rap": false,
        "rh": "0",
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "b5f7f9413a8ba657",
                "d7f3d193cd03f00e"
            ]
        ]
    },
    {
        "id": "b5f7f9413a8ba657",
        "type": "switch",
        "z": "10a60d33cf23c091",
        "name": "Parse Topic Data",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sonic/feeds/calls",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sonic/feeds/calldata",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "ad0f42531254699d",
                "b46a2afd5efa88c7",
                "738a1526dd24ef57",
                "a133f576941145cd",
                "20d708e3ed88bfd8",
                "cab26d8ab9f9d9bd",
                "5ce11df8a9c707af",
                "542d6754dfc761b6"
            ],
            []
        ]
    },
    {
        "id": "d7f3d193cd03f00e",
        "type": "debug",
        "z": "10a60d33cf23c091",
        "name": "Payload Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "ad0f42531254699d",
        "type": "ui_chart",
        "z": "10a60d33cf23c091",
        "name": "Calls Per Min",
        "group": "aaf5a4fda890d65b",
        "order": 1,
        "width": 15,
        "height": 12,
        "label": "Calls Per Min",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Calls",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 200,
        "wires": [
            []
        ],
        "inputLabels": [
            "Calls"
        ]
    },
    {
        "id": "b46a2afd5efa88c7",
        "type": "ui_gauge",
        "z": "10a60d33cf23c091",
        "name": "",
        "group": "aaf5a4fda890d65b",
        "order": 2,
        "width": 15,
        "height": 10,
        "gtype": "gage",
        "title": "Current Call Rate",
        "label": "Calls",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "3860caa19631706c",
        "type": "ui_text",
        "z": "10a60d33cf23c091",
        "group": "aaf5a4fda890d65b",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "value max",
        "label": "Max:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "699083447b23c032",
        "type": "function",
        "z": "10a60d33cf23c091",
        "name": "Max Value Display",
        "func": "msg.payload = msg.payload + \" Calls Per Min\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nmsg.payload = \"0 Calls Per Min\"",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 500,
        "wires": [
            [
                "3860caa19631706c"
            ]
        ]
    },
    {
        "id": "689669f3bd2805f6",
        "type": "function",
        "z": "10a60d33cf23c091",
        "name": "Min Value Display",
        "func": "msg.payload = msg.payload + \" Calls Per Min\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nmsg.payload = \"0 Calls Per Min\"",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 560,
        "wires": [
            [
                "14de250f03c132ce"
            ]
        ]
    },
    {
        "id": "14de250f03c132ce",
        "type": "ui_text",
        "z": "10a60d33cf23c091",
        "group": "aaf5a4fda890d65b",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "value min",
        "label": "Min:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "6da4d54bc7f25ec2",
        "type": "ui_text",
        "z": "10a60d33cf23c091",
        "group": "aaf5a4fda890d65b",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "value avg",
        "label": "Avg:  ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "b18fc5d649d330e0",
        "type": "function",
        "z": "10a60d33cf23c091",
        "name": "Avg Value Display",
        "func": "msg.payload = parseInt(msg.payload) + \" Calls Per Min\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nmsg.payload = \"0 Calls Per Min\"",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "6da4d54bc7f25ec2"
            ]
        ]
    },
    {
        "id": "738a1526dd24ef57",
        "type": "ui_chart",
        "z": "10a60d33cf23c091",
        "name": "Calls Per Hour",
        "group": "aaf5a4fda890d65b",
        "order": 8,
        "width": 15,
        "height": 12,
        "label": "Calls Per Hour",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Calls",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 240,
        "wires": [
            []
        ],
        "inputLabels": [
            "Calls"
        ]
    },
    {
        "id": "a133f576941145cd",
        "type": "ui_chart",
        "z": "10a60d33cf23c091",
        "name": "Calls Per Day",
        "group": "aaf5a4fda890d65b",
        "order": 7,
        "width": 15,
        "height": 12,
        "label": "Calls Per Day",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Calls",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 280,
        "wires": [
            []
        ],
        "inputLabels": [
            "Calls"
        ]
    },
    {
        "id": "5ce11df8a9c707af",
        "type": "calculate",
        "z": "10a60d33cf23c091",
        "name": "Calculate Avg Value",
        "pauseType": "timed",
        "calculation": "average",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "10",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "b18fc5d649d330e0"
            ]
        ]
    },
    {
        "id": "cab26d8ab9f9d9bd",
        "type": "calculate",
        "z": "10a60d33cf23c091",
        "name": "Calculate Min Value",
        "pauseType": "timed",
        "calculation": "min",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "10",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "689669f3bd2805f6"
            ]
        ]
    },
    {
        "id": "20d708e3ed88bfd8",
        "type": "calculate",
        "z": "10a60d33cf23c091",
        "name": "Calculate Max Value",
        "pauseType": "timed",
        "calculation": "max",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "10",
        "x": 380,
        "y": 500,
        "wires": [
            [
                "699083447b23c032"
            ]
        ]
    },
    {
        "id": "542d6754dfc761b6",
        "type": "debug",
        "z": "10a60d33cf23c091",
        "name": "Trunk-Recorder Calls Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "3b55c08e1a17e065",
        "type": "ui_spacer",
        "z": "10a60d33cf23c091",
        "name": "spacer",
        "group": "281aea9e7dfe07df",
        "order": 6,
        "width": 15,
        "height": 1
    },
    {
        "id": "859032e03be4109b",
        "type": "ui_spacer",
        "z": "10a60d33cf23c091",
        "name": "spacer",
        "group": "aaf5a4fda890d65b",
        "order": 6,
        "width": 15,
        "height": 1
    },
    {
        "id": "61de5090.0f5d9",
        "type": "mqtt-broker",
        "name": "Local MQTT Server",
        "broker": "10.0.0.110",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aaf5a4fda890d65b",
        "type": "ui_group",
        "name": "Trunk-Recorder Calls",
        "tab": "6dbc42e90c472b0c",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6dbc42e90c472b0c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
